<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Use camera name or an integer (if integer is used then the camera will be selected when app started) -->
    <add key="CameraSource" value="0"/>

    <!-- If any of the following 4 settings are empty strings then camera default setting (or last setting used by another app) will be used -->
    <!-- Ensure camera can actually run using any setting you specify, otherwise the wrapper will return an error ("Couldn't open input stream" or similiar) -->
    <add key="CameraCodec" value=""/>
    <add key="CameraFPS" value=""/>
    <add key="CameraResX" value=""/>
    <add key="CameraResY" value=""/>

    <!-- these settings work well on many logitech webcam's (eg: C920)
    <add key="CameraCodec" value="mjpeg"/>
    <add key="CameraFPS" value="30"/>
    <add key="CameraResX" value="1920"/>
    <add key="CameraResY" value="1080"/>
    -->

    <!--whether to pop up camera settings (exposure,gain,etc) when camera connection first established-->
    <add key="CameraShowSettings" value="false"/>

    <!-- Format: x,y,w,h - note cropping is performed BEFORE rotation -->
    <add key="CameraCrop" value="-1,-1,-1,-1"/>

    <!-- Rotation must be 0, 90, 180, or 270 -->
    <add key="CameraRotation" value="0"/>
  </appSettings>
</configuration>